@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

 div::-webkit-scrollbar {
  width: 3px ;
  background-color:#ffc34d
}

div::-webkit-scrollbar-track {
  background: #111827;
  border-radius: 1px;
}

div::-webkit-scrollbar-thumb {
  background: #ffc34d;
  border-radius: 1px;
  
  }