@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 3px ;
  height: 3px;
  background-color:#ffc34d
}

::-webkit-scrollbar-track {
  background: #111827;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  background: #ffc34d;
  border-radius: 1px;
  }

::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
  }
  
  
