.item {
    opacity: 0;
    transform: translateX(-100%);
  }
  
  .animate {
    animation: slideIn 0.5s forwards;
  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  